/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML & Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text-primary);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    background: var(--blue-grey);
}

main {
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 72px 20px;
    position: relative;
}

.section-soft {
    background: linear-gradient(
        to bottom,
        var(--blue-grey),
        var(--blue-light)
    );
}

.section-clean {
    background: var(--platinum);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

/* Tipografía base */
h1, h2, h3 {
    font-family: var(--font-title);
    color: var(--text-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4rem;
}

p {
    color: var(--text-secondary);
    font-size: 1rem;
}

/* Control de imagenes en general */
img {
    max-width: 70%;
    display: block;
    border-radius: 16px;
}

button {
    background: var(--blue-primary);
    color: var(--text-light);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;

    font-family: var(--font-body);
    font-size: 0.9rem;

    cursor: pointer;
    transition: all0.3s ease;
}

button:hover {
    background: var(--blue-accent);
    transform: translateY(-2px);
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--platinum);

    font-family: var(--font-body);
    font-size: 0.9rem;

    outline: none;
    transition: 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--blue-secondary);
    box-shadow: 0 0 0 3px rgba(142, 177, 209, 0.2, green, blue, alpha);
}

.card {
    background: var(--platinum);
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 15px 40px var(--shadow-soft);
    max-width: 900px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Scroll bar elegante */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--blue-grey);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-secondary);
    border-radius: 10px;
}

/* Transición entre hero y contenido general */
#mainContent {
    margin-top: -90px;
    position: relative;
    z-index: 5;
}