#calendar {
    padding: 100px 20px;
    background: linear-gradient(
        to bottom,
        var(--blue-grey) 0%,
        var(--platinum) 100%
    );
    display: flex;
    justify-content: center;
}

.calendar-card {
    background: var(--platinum);
    border-radius: 28px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 25px 60px var(--shadow-soft);
    text-align: center;
    position: relative;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
    overflow: hidden;
}

/* Linea decorativa */
.calendar-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(
        to right,
        var(--blue-primary),
        var(--blue-secondary)
    );
}


/* Titulo del mes */
.calendar-month {
    font-family: var(--font-script);
    font-size: 2.5rem;
    color: var(--blue-primary);
    margin-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    animation: fadeUp 1.2s ease forwards;
}

/* Días de la semana */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    font-family: var(--font-body);
}

.calendar-grid span:nth-child(-n+7) {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 500;
}

.calendar-grid span {
    padding: 10px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255,2);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
    transition: 0.25s ease;
    position: relative;
}

.calendar-grid span:hover {
    background: var(--blue-light);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

/* Día especial */
.heart-day {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--blue-primary);
    background: rgba(255,255,255,0.9);
    box-shadow: 0 6px 12px rgba(0,0,0,0.08);
    border-radius: 14px;
    transform: scale(1.08);
    font-size: 1.1rem;
}

.heart {
    position: absolute;
    top: 13px;
    right: 50%;
    transform: translateX(10%);
    align-items: center;
    justify-content: center;
    animation: float 3s ease-in-out infinite;
}

.heart img {
    width: 40px;
    height: 40x;
}

.heart-day.confirmed {
    background: linear-gradient(
        135deg,
        #a8d8ff,
        #cdefff
    );
    box-shadow: 
        0 0 15px rgba(122,158,159,0.6),
        0 0 30px rgba(122,158,159,0.3);
    transform: scale(1.1);
    color: var(--blue-primary);
}

.heart-day.confirmed .heart {
    animation: pulse 1.5s infinite;
}

@media (max-width: 768px) {
    .calendar-card {
        padding: 30px 20px;
    }
    .calendar-month {
        font-size: 2.2rem;
    }
    .calendar-grid {
        gap: 10px;
    }
    .calendar-grid span {
        padding: 10px 0;
        font-size: 0.9rem;
    }
}