:root {
    /* Colores principales */
    --blue-primary: #1C2B48;
    --blue-secondary: #8EB1D1;
    --blue-light: #A7C7E7;

    /* COLORES Neutrales fríos */
    --blue-grey: #C4D8E5;
    --platinum: #E8ECEF;

    --blue-accent: #5F85A6;
    --shadow-soft: rgba(28, 43, 72, 0.15);

    /* Colores de texto */
    --text-primary: #1C2B48;
    --text-secondary: #5F6F82;
    --text-light: #FFFFFF;
}