#gallery {
    padding: 100px 20px;
    text-align: center;

    background: linear-gradient(
        to bottom,
        var(--platinum),
        var(--blue-grey)
    );
}

#gallery h2 {
    margin-bottom: 50px;
    font-family: var(--font-script);
    font-size: 3rem;
    color: var(--blue-primary);
}

/* Fotos
    -> Movimiento
    -> Pausa del hover
    -> Imagenes
    -> Hover zoom*/
.gallery-wrapper {
    overflow: hidden;
    position: relative;
}

.gallery-track {
    display: flex;
    gap: 20px;

    width: max-content;

    animation: scrollGallery 40s linear infinite;
}

.gallery-wrapper:hover .gallery-track {
    animation-play-state: paused;
}

.gallery-track img {
    width: 260px;
    height: 360px;

    object-fit: cover;
    border-radius: 20px;

    box-shadow: 0 15px 35px var(--shadow-soft);

    transition: transform 0.4s ease, boxshadow 0.4s ease;
}

.gallery-track img:hover {
    transform: scale(1.08);
    z-index: 2;
}

@media (max-width: 768px) {

    .gallery-track img {
        width: 180px;
        height: 260px;
    }

    .gallery-track {
        gap: 12px;
    }
}