#schedule {
    padding: 120px 20px;
    text-align: center;
    background: var(--blue-grey);
}

#schedule h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 70px;
    color: var(--blue-primary);
}

/* Timeline 
    -> Linea central*/
.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 2px;
    background: linear-gradient(
        to bottom,
        transparent,
        var(--blue-secondary),
        transparent
    );

    transform: translateX(-50%);
}

/*Items
    -> Alternancia */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 30px 40px;

    opacity: 0;
    animation: fadeUp 1s ease forwards;
}

.timeline-item.left {
    left: 0;
    text-align: right;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

/* Tarjetas de cada apartado
    -> Hover
    -> Titulos
    -> Hora
    -> Texto*/
.content {
    background: var(--platinum);
    padding: 20px 25px;
    border-radius: 18px;

    box-shadow: 0 15´x 35px var(--shadow-soft);

    display: inline-block;
    max-width: 300px;

    transition: 0.3s ease;
}

.content:hover {
    transform: translateY(-6px);
}

.content h3 {
    color: var(--blue-primary);
    margin-bottom: 5px;
}

.time {
    display: block;
    font-size: 0.85rem;
    color: var(--blue-accent);
    margin-bottom: 10px;
}

.content p {
    font-size: 0.9rem;
}

/*Iconos
    -> Posición
    -> Imagen icono */
.icon {
    position: absolute;
    top: 37px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 25px rgba(28, 43, 72, 0.3);

    z-index: 2;

    animation: float 3s ease-in-out infinite;

    overflow: hidden; /* 🔥 evita que sobresalgan */
}

.timeline-item.timeline-item.left .icon {
    right: -3px;
}

.timeline-item.right .icon {
    left: -3px;
}

.icon img {
    width: 80%;
    height: 80%;

    object-fit: contain;   /* evita deformación */
    display: block;

    transform: scale(0.9);
}

/* Conector */
.timeline-item::after {
    content: "";
    position: absolute;
    top: 45px;

    width: 12px;
    height: 12px;

    background: var(--blue-secondary);
    border-radius: 50%;

    left: 100%;
    transform: translateX(-50%);
}

.timeline-item.timeline-item.right::after {
    left: 0;
    transform: translateX(-50%);
}

/* Animación escalonada */
.timeline-item:nth-child(1) { animation-delay: 0.2s; }
.timeline-item:nth-child(2) { animation-delay: 0.4s; }
.timeline-item:nth-child(3) { animation-delay: 0.6s; }
.timeline-item:nth-child(4) { animation-delay: 0.8s; }
.timeline-item:nth-child(5) { animation-delay: 1s; }


@media (max-width: 768px) {

    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
        text-align: left;
        left: 0 !important;
    }

    .timeline-item .icon {
        left: 0 !important;
        right: auto;
    }

    .timeline-item::after {
        left: 20px;
    }

    .content {
        max-width: 100%;
    }
}